<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset='UTF-8'>
<title>Main page</title>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/styles/main.css}">
<link rel="stylesheet" th:href="@{/styles/starter-template.css}">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">

		<div class="starter-template">
			<h1>Tennis logger</h1>
			<span th:text="${msg != null ? 'Welcome new user' : 'Old user'}"></span>
			<p class="lead">
				Use this app to log your tennis matches. <br>Track your results
				and analyze your progress.
			</p>
		</div>


		<a class="btn btn-default btn-block"
			href="/tennislogger/match/view_matches_page" role="button">View
			matches</a> <a class="btn btn-default btn-block"
			href="/tennislogger/match/add_form_page" role="button">Add match</a>

		<span th:text="#{welcome.message}"></span>
		<br />
		<span
			th:text="${serverTime}"></span>
		<br />
		<img th:src="@{/images/tennisball.png}">
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>