<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>View teams</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<form class="form" action="#" th:action="@{/team/delete}"
			th:object="${teamTable}" method="post">
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th>-</th>
						<th>#</th>
						<th th:text="#{team_view.name}"></th>
						<th th:text="#{team_view.player_one}"></th>
						<th th:text="#{team_view.player_two}"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable-row" th:each="team : *{teams}">
						<td><input type="checkbox" th:field="*{selectedTeams}"
							th:value="${team.id}"></td>
						<td th:text="${team.id}"><span class="glyphicon glyphicon-search"></span>__team_id</td>
						<td th:text="${team.teamName}">__team_name</td>
						<td th:text="${team.playerOneName} ? ${team.playerOneName}">__Team
							1</td>
						<td th:text="${team.playerTwoName} ? ${team.playerTwoName}">__Team
							2</td>
					</tr>
				</tbody>
			</table>
			
			<button id="deleteBtn" class="btn btn-danger" type="submit" th:text="#{team_view.delete}" disabled>--Delete--</button>
			
			<a class="btn btn-primary pull-right" th:href="@{/team/add}" role="button">
				<span th:text="#{team_view.add}">--Add--</span>
			</a>
		</form>
		
		<script th:src="@{/scripts/match_table.js}"></script>
	</div>
</body>
</html>