<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>View matches</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<form class="form" action="#" th:action="@{/match/delete_page}"
			th:object="${matchTable}" method="post">
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th></th>
						<th>Edit</th>
						<!-- <th>#</th>  -->
						<th th:text="#{view_matches.match}"></th>
						<th th:text="#{view_matches.team_one}"></th>
						<th th:text="#{view_matches.team_two}"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable-row" th:each="match : *{matches}">
						<td><input type="checkbox" th:field="*{selectedMatches}"
							th:value="${match.id}"></td>
						<td>
							<a th:href="@{/match/edit/} + ${match.id}">
								<span class="edit glyphicon glyphicon-pencil"></span>
							</a>
						</td>
						<!-- <td th:text="${match.id}">__match_id</td>  -->
						<td th:text="${match.name}">__match_name</td>
						<td th:text="${match.teamOne}">__Team 1</td>
						<td th:text="${match.teamTwo}">__Team 2</td>
					</tr>
				</tbody>
			</table>

			<button id="deleteBtn" class="btn btn-danger" th:text="#{view_matches.delete}" type="submit" disabled>--Delete--</button>
			
			<a class="btn btn-primary pull-right" th:href="@{/match/add}" role="button">
				<span th:text="#{view_matches.add}">--Add--</span>
			</a>
		</form>

		<script th:src="@{/scripts/match_table.js}"></script>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>