html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
body > .container {
	padding-top: 70px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#background_tennisball {
	display: block;
	width: 45%;
	position: absolute;
	top: 70px;
	left: 0;
	z-index: -1000;
}