html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
  background: rgba(198,196,207,1);
  background: -moz-linear-gradient(top, rgba(198,196,207,1) 0%, rgba(240,252,171,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(198,196,207,1)), color-stop(100%, rgba(240,252,171,1)));
  background: -webkit-linear-gradient(top, rgba(198,196,207,1) 0%, rgba(240,252,171,1) 100%);
  background: -o-linear-gradient(top, rgba(198,196,207,1) 0%, rgba(240,252,171,1) 100%);
  background: -ms-linear-gradient(top, rgba(198,196,207,1) 0%, rgba(240,252,171,1) 100%);
  background: linear-gradient(to bottom, rgba(198,196,207,1) 0%, rgba(240,252,171,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c4cf', endColorstr='#f0fcab', GradientType=0 );
}
body > .container {
	padding-top: 70px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#background_tennisball {
	display: block;
	width: 45%;
	position: absolute;
	top: 70px;
	left: 0;
	z-index: -1000;
}