<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset='UTF-8'>
<title>Thymeleaf test page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<footer class="panel-footer" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="text-center" id="about" th:text="#{footer.about}"></div>
					<div class="text-center" id="contact">
						Contact <a th:href="'mailto:' + #{footer.email_address} + '?subject=' + #{footer.email_subject}">
							<span th:text="#{footer.email_name}">--creator--</span></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>